extends layout
block vars
	- var bodyClass = 'game flex';
block content
	header
		h1
			a(href='/') 
				img(src='/img/cat.png')
				| Catulator
		div
			a.btn.btn-outline-light.btn-sm(href='/rankings') Rankings
			a.btn.btn-outline-light.btn-sm(href='/add') Add
	.stage
		.spinner
	button.btn.btn-primary.btn-lg More Cats!
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
	script(src='js/game.js')