extends layout

block content
	.landing
		img(src='/img/landingcat.png')
		h1 Catulator
		p Is your cat judging you all the time? Is your cat constantly walking around, acting like they're better than you? Well Catulator can help you! For a brief moment in your life you can feel superior to cats, by judging them on thier cuteness.
		a.btn.btn-sm.btn-outline-light(href='/game') Judge Some Cats!
