html{
    height: 100%;
}
body{
	min-height: 100%;
    background-color:#333;
}
    header {
        max-width: 720px;
        width: 100%;
        margin: 0 auto;
        padding: 20px 2.5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        header h1 {
            margin: 0;
            font-family: 'Finger Paint', cursive;
            text-shadow: 2px 2px 6px rgba(0,0,0,.3);
            font-size: 26px;
            letter-spacing: 1px;
        }
            header h1 a {
                text-decoration: none !important;
                color:#fff !important;
                display: inline-block;
            }
                header h1 a img {
                    display: inline-block;
                    width: 31px;
                    vertical-align: middle;
                    margin-right: 10px;
                    padding-bottom: 1px;
                }
        header a.btn:not(:last-child) {
            margin-right: 10px
        }

    @media screen and (max-width: 420px) {
        header{
            flex-direction: column;
            height: 115px;
        }
    }

/*
    Landing page styles
*/
.landing {
    min-height: 338px;
    height: 100%;
    background-image: url('/img/landing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
    .landing img {
        width: 64px;
        margin-bottom: 15px;
        opacity: .9;
    }
    .landing h1 {
        font-family: 'Finger Paint', cursive;
        text-shadow: 2px 2px 6px rgba(0,0,0,.3);
        margin: 0 0 14px 0;
        line-height: 45px;
        font-size: 40px;
        letter-spacing: 1px;
    }
    .landing p {
        max-width: 420px;
        box-sizing: border-box;
        padding: 0 13px;
        text-align: justify;
        margin: 0;
        font-family: monospace;
        line-height: 18px;
        margin: 0 0 20px 0;
    }
    .landing div {
        max-width: 396px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
        .landing .btn{
            margin: 15px;
        }

/*
    game page styles
*/
.game.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    .stage {
        flex: 1;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
    }
        .stage p{
            color: #ddd;
            font-size: 16px;
            letter-spacing: 1px;
            margin: 20px 0;
        }
        .catBox{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex: 1;
        }
            .catImg{
                margin: 2%;
                width: 50%;
                position: relative;
                max-width: 500px;
            }
            .catImg:hover img {
                border-color: limegreen;
            }
                .catImg .show{
                    visibility: visible;
                }
                .catImg .rank {
                    color: white;
                    font-weight: bold;
                    font-size: 13px;
                    text-align: center;
                    padding: 2px 0;
                    border-radius: 4px 4px 0px 0;
                    visibility: hidden;
                }
                .catImg .rank.winner {
                    background-color: limegreen;
                }
                .catImg .rank.loser {
                    background-color: orangered
                }
                .catImg .rank.tie {
                    background-color: lightgrey;
                    color: #333;
                }
                .catImg img {
                    width: 100%;
                    display: block;
                    box-shadow: 9px 9px 12px -4px rgba(0,0,0,.3);
                    cursor: cell;
                }
                .catImg .scale {
                    visibility: hidden;
                }
                    .catImg .scale div {
                        height: 4px;
                        float:left;
                    }
                    .catImg .scale div.good {
                         background-color: limegreen;
                    }
                    .catImg .scale div.bad {
                        background-color: orangered;
                    }
                .catImg .stats {
                    display: flex;
                    justify-content: space-between;
                    color: #ccc;
                    font-family: monospace;
                    font-size: 13px;
                    visibility: hidden;
                }
                    .catImg .stats span {
                        width: 75px;
                        text-align: center;
                    }
                    .catImg .stats span.won {
                        color:limegreen;
                    }
                    .catImg .stats span.lost {
                       color:orangered; 
                    }
    .game button.btn {
        width: 100%;
        position: fixed;
        bottom: 0;
        display: none;
    }
    .game .spinner {
        background-color: #fff;
    }
    @media screen and (max-width: 650px) {
        .catBox {
            flex-direction: column;
        }
        .catImg {
            width: 96%;
        }
    }

/*
    Rankings page styles
*/
.rankings ul, .rankings li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.rankings ul{
    max-width: 720px;
    margin: 0 auto;
}
    .rankings li {
        margin: 2%;
        text-align: right;
    }
    .rankings li:first-child{
        margin-top: 0;
    }
        .rankings li a {
            display: inline-block;
            color: #ccc;
            font-weight: 100;
            font-size: 13px;
            font-family: monospace;
            margin-right: 5px;
            text-decoration: none !important
        }
        .rankings li img {
            display: block;
            width: 100%;
        }
        .rankings .scale {
            height: 4px;
        }
            .rankings .scale div {
                height: 100%;
                float:left;
            }
            .rankings .scale div.good {
                background-color: limegreen;
            }
            .rankings .scale div.bad {
                background-color: orangered;
            }
        .rankings .stats {
            display: flex;
            justify-content: space-between;
            color: #ccc;
            font-family: monospace;
            font-size: 13px;
        }
            .rankings .stats span{
                width: 50px;
                text-align: center;
            }
            .rankings .stats span.won{
                color: limegreen;
            }
            .rankings .stats span.rating{
                font-weight: bold;
            }
            .rankings .stats span.lost{
                color: orangered;
            }

/*
    Add page styles
*/
.addBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .addedCats {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 450px;
    }
        .addedCats h2 {
            width: 100%;
            color: #eee;
            font-size: 16px;
            margin: 0;
        }
        .addedCats a {
            width: 25%;
            padding: 2%;
        }
            .addedCats img {
                display: block;
                width: 100%;
            }
    .add {
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 3%;
        width: 100%;
    }
        .add form{
            max-width: 600px;
            width: 100%;
            margin: 0 auto;
            border:3px dashed #ccc;
            border-radius: 20px;
        }
            .dz-message {
                padding: 40px 0;
                color:#ddd;
                text-align: center;
            }
        .add .dz-error{
            color: #bbb;
            text-align: center;
            display: none;
            margin-bottom: 7px;
            font-size: 13px;
            font-family: monospace;
        }
        .dz-image-preview {
                max-width: 500px;
            position: relative;
            overflow: hidden;
            margin: 0 auto;
        }
            .dz-image img {
                display: block;
                width: 100%;
            }

            .dz-details {
                bottom: 0px;
                left: 0;
                padding: 7px;
                position: absolute;
                color: white;
                width: 100%;
                background-color: rgba(0,0,0,.5);
                letter-spacing: 1px;
                font-size: 12px;
                padding-right: 48px;
            }
                .dz-filename {
                    text-overflow: ellipsis;
                    width: 100%;
                    overflow: hidden;
                }
            .dz-progress {
                position: absolute;
                top: 0;
                width: 100%;
            }
                .dz-progress span {
                    height: 7px;
                    background-color: royalblue;
                    width: 0%;
                    opacity: .9;
                    display: block;
                }
            .dz-success-mark, .dz-error-mark{
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -26px 0 0 -25px;
                padding: 5px;
                background: limegreen;
                opacity: .8;
                border-radius: 50%;
            }
                .dz-success-mark svg, .dz-error-mark svg{
                    display: block
                }
            .dz-error-mark {
                background-color: orangered;
            }
            .dz-success .dz-success-mark {
                display: block;
            }
            .dz-error .dz-error-mark {
                display: block;
            }
            .dz-remove{
                right: 0;
                bottom: 0px;
                padding: 12px 15px;
                color: #fff !important;
                font: 14px/100% arial, sans-serif;
                position: absolute;
                text-decoration: none !important;
                text-shadow: 0 1px 0 #000;
                font-size: 26px;
            }
        .add .submit {
            display: none;
            width: 100%;
            margin: 15px auto;
            max-width: 500px;
        }
        .add .btn-link {
            margin:18px 0;
        }

/*
    Error page styles
*/
.error {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 338px;
    left:0;
    top:0;
    background-image: url('/img/landing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
    .error a {
        display: block;
        margin: 0 0 20px 0;
    }
        .error a img {
            width: 32px;
            display: block;
        }
    .error h1 {
        font-family: 'Finger Paint', cursive;
        text-shadow: 2px 2px 6px rgba(0,0,0,.3);
        margin: 0 0 30px 0;
        line-height: 45px;
        font-size: 28px;
        letter-spacing: 1px;
    }
    .error p {
        max-width: 420px;
        box-sizing: border-box;
        padding: 0 13px;
        text-align: justify;
        margin: 0;
        font-family: monospace;
        line-height: 18px;
        font-size: 14px;
        margin: 0 0 45px 0;
    }

/*
    Spinner styles
*/
.spinner {
    width: 55px;
    height: 55px;
    background-color: #000;
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.2s infinite ease-in-out;
    animation: sk-scaleout 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
    -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
@keyframes sk-scaleout {
    0% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}