body {
	background-color:#333;
}
header {
	max-width: 720px;
	margin: 0 auto;
	padding: 20px 2.5% 0 2.5%
}
header h1 {
	margin: 0;
	font-family: 'Finger Paint', cursive;
    text-shadow: 2px 2px 6px rgba(0,0,0,.3);
    font-size: 26px;
    letter-spacing: 1px;
}
header h1 a {
	text-decoration: none !important;
	color:#fff !important;
	display: inline-block;
}
header h1 a img {
	display: inline-block;
	width: 31px;
	vertical-align: middle;
	margin-right: 10px;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul{
	max-width: 720px;
	margin: 0 auto;
}
li {
	margin: 2%;
	text-align: right;
}
li:first-child{
	margin-top: 0;
}
li a {
	display: inline-block;
    color: #ccc;
    font-weight: 100;
    font-size: 13px;
    font-family: monospace;
    margin-right: 5px;
    text-decoration: none !important
}
li img {
	display: block;
	width: 100%;
}
.scale {
	height: 4px;
}
.scale div {
	height: 100%;
	float:left;
}
.scale div.good {
	background-color: limegreen;
}
.scale div.bad {
	background-color: orangered;
}
.stats {
	display: flex;
    justify-content: space-between;
    color: #ccc;
    font-family: monospace;
    font-size: 13px;
}
.stats span{
	width: 50px;
	text-align: center;
}
.stats span.won{
	color: limegreen;
}
.stats span.rating{
	font-weight: bold;
}
.stats span.lost{
	color: orangered;
}